body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

details {
    margin-top: 20px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 5px 10px;
}

summary {
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

summary:hover {
  color: #007BFF;
}

/* Carte maintenance */
.maintenance {
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 6px;
}

/* États */
.maintenance-terminee {
  background-color: #c8f7c5; /* vert clair */
}

.maintenance-en-cours {
  background-color: #ffe0b3; /* orange clair */
}

.maintenance-autre {
  background-color: #e0e0e0; /* gris */
}

/* Carte équipement */
.equipement {
  margin-bottom: 10px;
  border-radius: 6px;
  padding: 6px;
}

/* États équipements */
.equipement-ok {
  background-color: #c8f7c5; /* vert clair */
}

.equipement-nok {
  background-color: #f7c5c5; /* rouge clair */
}

.equipement-passable {
  background-color: #ffe0b3; /* orange clair */
}

.equipement-autre {
  background-color: #e0e0e0; /* gris */
}


